
body{
  background-color: rgb(2, 5, 3);
  position: relative;
  pointer-events:all;
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  margin: 0;
}
#content{
  width:99%;
  height:95vh;
  position: absolute;
 margin-top: 4vh;
 display: flex;
 
 
}

#time{
  color: #00ff00;
  top: 0;
  left: 0;
  position: absolute;
  text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
}
#WebName{
  margin-top: 2vw;
  
  top: 0;
  left: 0;
  position: absolute;
  color: #f50000;
  background-color: white;
  font-size: 200%;
  font-family: Consolas,monaco,monospace; 
  
}
#logo{
  width: 12vw;
  height: 23vh;
  top: 0;
  right: 0;
  position: absolute;
}
#GameName{
  text-align: center;
  color: aliceblue;
  font-size: 400%;

  
}


#rateboard{
  position: absolute;
  color: aqua;
  border: 1vh solid #636364;
  height: 75%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ababad;
  justify-content: center;
  box-shadow: 2.5vh 2.5vh 0vh rgb(0, 0, 0),2.5vh 2.5vh 0vh rgb(0, 0, 0);;
  
  
}


  .skinClass{
    width: 40%;
    height: 65%;
    
    background-repeat:no-repeat;
    background-size: 100% 100%;
   position: relative;
   margin-bottom: 8%;
   margin-top: 6%;
   border:0.3vh solid rgb(197, 197, 197);
   color: #000000;
   box-shadow: .5vh .5vh 0vh rgb(59, 59, 59),.5vh .5vh 0vh rgb(59, 59, 59);;
  }


  #bntOPT{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
  justify-content: center
    
    
  }
.bnt{
  border:0.3vh solid rgb(197, 197, 197);
  background-color: #ababad;
  font-size: 200%;
  margin: 1%;
  height: 15%;
  width: 15%;
  font-family: 'Courier', 'Courier New', 'Lucida Console';
     font-size: 135%;
  border-radius: 2px;
  color: #000000;
  box-shadow: .5vh .5vh 0vh rgb(59, 59, 59),.5vh .5vh 0vh rgb(59, 59, 59);;
  
    
}
  .bnt:hover{
  
  color: #0822ca;
  border-radius: 2px;
  
  
   
    
    
  }

 
  .blur{
    filter: blur(10px); /* Chrome, Safari, Opera */
    
  }


  #exit{
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgb(175, 174, 174);
    color: #000000;
    border:1px solid rgb(0, 0, 0);
    font-size: 150%;
    
  }


  
  #exit:hover{
    top: 0;
    right: 0;
    position: absolute;
    color: white;
    background-color: rgb(205,6,0);
  }

  #FinnaDone{
    position: relative;
    color: aqua;
    height: 97%;
    width: 97%;
    
    }
  #de_result{
  position: relative;
  color: aqua;
  margin-top: 6vh;
  height: 100%;
  width: 100%;
  background-color: #000;
  
  }

  .listRow{
    font-size: 300%;
    display: flex;
    width: 100%;
    height: auto;
    color: aqua;
    position: relative;
    float: left;
    height: 8.5;
    
  }
  
  .tier{
    border:2px solid aqua;
   text-align: center;
    width: 75%;
    color: black;
    position: relative;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    
    
  }

  .sorted{
    border:1px solid aqua;
    width: 1000%;
	position: relative;
  background-color: black
  
  
  }

  .img{
    height: 20vh;
    width: 12vw;
    margin-top: 1%;
    position: relative;
    margin-left: 1%;
    
  }


  

 









  
  #options{
    color: rgb(0, 255, 0);
    font-size: 300%;
    display: inline-block;
    }


    
    

    
  #GameOpt{
      font-size: 200%;
      color: aqua;
      left: 50%;
      
  }
.BntOpt{
  font-size: 80%;
  border-radius: 15%;
  margin: 5%;
  color: #29f500;
  background-color: rgb(18, 44, 24);
  border: #000 1px;
}
.BntOpt:hover{
  background-color: #1a3f18;
  color: #00ff00;
  border:1px solid  #33692b;
  cursor: pointer;
}


#SkinOpt{
width: 80vw;
display: inline-block;
}

#Gaben{
  display: inline-block;
  
    font-size: 130%;
    color: #00ff00;
    text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
    font-family: Consolas,monaco,monospace; 
  }
  #GabenReply{
    display: inline-block;
    margin: 1%;
     color: #00ff00;
     text-shadow:0vh 0vh 0.6vh rgb(48, 141, 48),0vh 0vh 0.6vh rgb(52, 131, 52);
     font-family: 'Courier', 'Courier New', 'Lucida Console';
     font-size: 135%;
   }
   
   #User{
    display: inline-block;
      font-size: 130%;
      color: #00ff00;
      text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
      font-family: Consolas,monaco,monospace; 
    }
    #UserReply{
      display: inline-block;
      margin: 0.7%;
       color: #00ff00;
       
       font-family: 'Courier', 'Courier New', 'Lucida Console';
       font-size: 105%;
       outline: none;
       
       
       
     }

#inputfield{
      color: #00ff00;
      border: 10px solid rgb(2, 5, 3);
       text-shadow:0vh 0vh 0.6vh rgb(48, 141, 48),0vh 0vh 0.6vh rgb(52, 131, 52);
       font-family: 'Courier', 'Courier New', 'Lucida Console';
       font-size: 130%;
       outline: none;
      background-color:  rgb(2, 5, 3);
      
}

    
   #gunList{
    display: inline-block;
    border: 0.1vw solid #00ff00;
    color: #00ff00;
    text-shadow:0vh 0vh 0.3vh rgb(48, 141, 48),0vh 0vh 0.3vh rgb(52, 131, 52);
    height: max-content;
    box-shadow: 0vh 0vh 0.6vh rgb(48, 141, 48),0vh 0vh 0.6vh rgb(52, 131, 52);;
   }

#gunList p{
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: 'Courier', 'Courier New', 'Lucida Console';
}



.loadup{
  font-family: Consolas,monaco,monospace; 
  margin-left: 1vw;
  color: #00ff00;
  text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
  font-size: 130%;
  width: 99%;
  margin-top: 2vh;
  
}
#loadingscreen{
  width: 99%;
  display: inline-block;
  height: max-content;
  position: relative;
}
#PageLoader{
  height: max-content;
}

#bgText{
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  margin-right: 1vh;
  margin-bottom: 1vh;
}
#steammarket{
  position: absolute;
  bottom: 0;
  color: white;
  margin-bottom: 1vh;
}
#steamlinkcolor{
  color: white;
  
}
#sponsorNOT{
  position: absolute;
  top: 20%;
  
  left: 0;
  margin-left: 1vh;
  border: 0.5vh solid #636364;
  background-color: white;
  box-shadow: 1vh 1vh 0vh rgb(0, 0, 0),1vh 1vh 0vh rgb(0, 0, 0);;
}
.sponsor{
  display: inline-block;
  color: rgb(0, 0, 0);
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 7vh;
  margin-bottom: 7vh;
 
}
.sponsor:hover{
  color: rgb(205,6,0);;
}
#steamlinkcolor:hover{
  color: rgb(205,6,0);;
}












  .overitem{
    z-index: 2;
  }

  #DownloadResult{
    font-size: 150%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0e0d0d;
    color: #66e817;
    border:2px solid #66e817;

    
  }
  #DownloadResult:hover{
    background-color: #85180b;
    color: #ffffff;
    border:1px solid #000000;
    cursor: pointer;
    
  }

  
  #Back{
    font-size: 150%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0e0d0d;
    color: #66e817;
    border:2px solid #66e817;
  }

  #Back:hover{
    background-color: #85180b;
    color: #ffffff;
    border:2px solid  #000000;
    cursor: pointer;
    
  }





 
  

  
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
