
body{
  background-color: rgb(2, 5, 3);
  position: relative;
  pointer-events:all;
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  margin: 0;
}
#content{
  width:100%;
  height:95vh;
  position: absolute;
 margin-top: 4vh;
 
 
 
}

#time{
  color: #00ff00;
  top: 0;
  left: 0;
  position: absolute;
  text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
}


#GameName{
  text-align: center;
  color: aliceblue;
  font-size: 400%;

  
}


#rateboard{
  position: absolute;
  color: aqua;
  border: 1px solid #00ff00;
  height: 75%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgba(0,0,0,.6);
  justify-content: center;
  
  
  
}


  .skinClass{
    width: 40%;
    height: 65%;
    color: aliceblue;
    background-repeat:no-repeat;
    background-size: 100% 100%;
   position: relative;
   margin-bottom: 8%;
   margin-top: 6%;

  
  }


  #bntOPT{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
  justify-content: center
    
    
  }
.bnt{
  color: #29f500;
  background-color: rgb(18, 44, 24);
  font-size: 200%;
  margin: 1%;
  height: 15%;
  width: 15%;
  border-radius: 2px;
  border:1px solid rgb(0, 0, 0);
  
   
}
  .bnt:hover{
    background-color: #1a3f18;
  color: #00ff00;
  font-size: 200%;
  margin: 1%;
  height: 15%;
  width: 15%;
  border-radius: 2px;
  border:1px solid rgb(0, 0, 0);
    
  }

 
  .blur{
    filter: blur(10px); /* Chrome, Safari, Opera */
    
  }


  #exit{
    top: 0;
    right: 0;
    position: absolute;
    background-color: black;
    color: #29f500;
    border:1px solid rgb(25, 85, 39);
    font-size: 150%;
    
  }


  
  #exit:hover{
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(25, 85, 39);
    border:1px solid #29f500
    

  }

  #FinnaDone{
    position: relative;
    color: aqua;
    height: 97%;
    width: 97%;
    
    }
  #de_result{
  position: relative;
  color: aqua;
  margin-top: 6vh;
  height: 100%;
  width: 100%;
  background-color: #000;
  
  }

  .listRow{
    font-size: 300%;
    display: flex;
    width: 100%;
    height: auto;
    color: aqua;
    position: relative;
    float: left;
    height: 8.5;
    
  }
  
  .tier{
    border:2px solid aqua;
   text-align: center;
    width: 75%;
    color: black;
    position: relative;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    
    
  }

  .sorted{
    border:1px solid aqua;
    width: 1000%;
	position: relative;
  background-color: black
  
  
  }

  .img{
    height: 20vh;
    width: 12vw;
    margin-top: 1%;
    position: relative;
    margin-left: 1%;
    
  }


  

 









  
  #options{
    color: rgb(0, 255, 0);
    font-size: 300%;
    display: inline-block;
    }


    
    

    
  #GameOpt{
      font-size: 200%;
      color: aqua;
      left: 50%;
      
  }
.BntOpt{
  font-size: 80%;
  border-radius: 15%;
  margin: 5%;
  color: #29f500;
  background-color: rgb(18, 44, 24);
  border: #000 1px;
}
.BntOpt:hover{
  background-color: #1a3f18;
  color: #00ff00;
  border:1px solid  #33692b;
  cursor: pointer;
}


#SkinOpt{
width: 80vw;
position: relative;

}

#Gaben{
  display: inline-block;
  
    font-size: 130%;
    color: #00ff00;
    text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
    font-family: Consolas,monaco,monospace; 
  }
  #GabenReply{
    display: inline-block;
    margin: 1%;
     color: #00ff00;
     text-shadow:0vh 0vh 0.6vh rgb(48, 141, 48),0vh 0vh 0.6vh rgb(52, 131, 52);
     font-family: 'Courier', 'Courier New', 'Lucida Console';
     font-size: 135%;
   }
   
   #User{
    display: inline-block;
      font-size: 130%;
      color: #00ff00;
      text-shadow:0vh 0vh 3vh rgb(48, 141, 48),0vh 0vh 3vh rgb(52, 131, 52);
      font-family: Consolas,monaco,monospace; 
    }
    #UserReply{
      display: inline-block;
      margin: 0.7%;
       color: #00ff00;
       
       font-family: 'Courier', 'Courier New', 'Lucida Console';
       font-size: 105%;
       outline: none;
       
       
       
     }

#inputfield{
      color: #00ff00;
      border: 10px solid rgb(2, 5, 3);
       text-shadow:0vh 0vh 0.6vh rgb(48, 141, 48),0vh 0vh 0.6vh rgb(52, 131, 52);
       font-family: 'Courier', 'Courier New', 'Lucida Console';
       font-size: 130%;
       outline: none;
      background-color:  rgb(2, 5, 3);
      
}

    
   


















  .overitem{
    z-index: 2;
  }

  #DownloadResult{
    font-size: 150%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0e0d0d;
    color: #66e817;
    border:2px solid #66e817;

    
  }
  #DownloadResult:hover{
    background-color: #85180b;
    color: #ffffff;
    border:1px solid #000000;
    cursor: pointer;
    
  }

  
  #Back{
    font-size: 150%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0e0d0d;
    color: #66e817;
    border:2px solid #66e817;
  }

  #Back:hover{
    background-color: #85180b;
    color: #ffffff;
    border:2px solid  #000000;
    cursor: pointer;
    
  }



#loadingscreen{
  display: inline-block;
  justify-content: center;
  
    
}

  #PageLoader {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent
  }
  .wave {
    width: 1vw;
    height: 90%;
    background: linear-gradient(45deg, #66e817, #85180b);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  #loading{
    color: #66e817;
    bottom: 0;
    font-size: 400%;
    font-family: "Courier", monospace;
    font-weight: 10;
    text-align: center;
  
  background: linear-gradient(to right, #66e817 20%, #85180b 40%, #85180b 60%, #66e817 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 3s linear infinite;
  
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
